@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root {
  --cor-do-texto: #333;
  --cor-do-titulo: #e90c0c;
  --cor-do-fundo: #fff;
  --cor-strong: #d027aa;

  --cor-da-borda-recipiente: #d3d3d3;
  --cor-inicio-degrade: #f6f1b2;
  --cor-fim-degrade: #4599b2;

  --cor-do-fundo-cardapio: rgba(255, 255, 255, 0.2);
  --cor-da-borda-cardapio: #aac0ae;
}

/* EXERCÍCIO 1: fontes */
/* importá-las aqui... e definir as `font-family` da turminha... */

h1 {
  font-family: "Ravie", sans-serif;
}

body {
  background-color: var(--cor-do-fundo);
  font-family: "Verdana", sans-serif;
}

strong {
  color: var(--cor-strong);
}

#recipiente {
  background-image: linear-gradient(to bottom, var(--cor-inicio-degrade), var(--cor-fim-degrade) 80%);
  border-left: 1px solid var(--cor-da-borda-recipiente);
  border-right: 1px solid var(--cor-da-borda-recipiente);
}

#cardapio {
  background-color: var(--cor-do-fundo-cardapio);
  border-top: 1px solid var(--cor-da-borda-cardapio);
  border-bottom: 1px solid var(--cor-da-borda-cardapio);
  border-left: 1px solid var(--cor-da-borda-cardapio);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-do-texto);
  margin-top: 30px;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-do-texto);
}

/* EXERCÍCIO 2: layout da página */
#recipiente {
  /* layout da página aqui */
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 154px 646px;
  min-height: 100vh;  
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

html, body{
  margin: 0px;
  min-height: 100vh;
}

#cabecalho-pagina {
  grid-column: 2 / 3;
}

#lateral {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

#cardapio {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 0 20px;
}

#rodape-pagina {
  grid-column: 2 / 3;
  grid-row: 3 / 4;  
}

/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  padding: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--cor-do-titulo);
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--cor-do-texto);;
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}

/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  margin: 46px 15px 25px 0;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 17px;
}

/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  top: calc(50% - 84px / 2);
  left: -89px;
  transition: left 200ms ease-out; 
}

#ticket:hover {
  left: 0;
}

/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */

/* EXERCÍCIO 10: modo escuro */
/* no início deste arquivo (depois dos @import), coloque
   as custom properties */
/* coloque aqui a media query para sobrescrever o valor
   das custom properties para o modo escuro */

   @media (prefers-color-scheme: dark) {
    :root {
      --cor-do-texto: #eee;
      --cor-do-fundo: #000;

      --cor-inicio-degrade: #043f5b;
      --cor-fim-degrade: #0f0020;
    }
  }
